@font-face {
  font-family: 'Sansation';
  src:
    local('Sansation Light'),
    local('Sansation-Light'),
    url('/fonts/sensation/Sansation_Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src:
    local('Sansation Regular'),
    local('Sansation-Regular'),
    url('/fonts/sensation/Sansation_Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sansation';
  src:
    local('Sansation Bold'),
    local('Sansation-Bold'),
    url('/fonts/sensation/Sansation_Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-accent: #03a9f4;
  --color-dark-accent: #0288d1;
  --color-light-blue: #b3e5fc;
  --color-background: #ffffff;
  --color-text: #212121;
  --color-elevation: #212121;
  --color-dark-grey: #757575;
  --color-grey: #9e9e9e;
  --color-light-grey: #bdbdbd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #212121;
    --color-text: #ffffff;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Sansation', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text);
  background-color: var(--color-background);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


